/* ! main -> cards Start */
.main__cards, .Gryffindor__cards ,
.Slytherin__cards, .Hufflepuff__cards ,
.Ravenclaw__cards, .Other__cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
}
.main__card{
    width: 40rem;
    height: 60rem;
    
}
.main__card_content{
    padding: 7rem;
    width: 50rem;
    height: 50rem;
    background-image: url(/app/image/bg_cards.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.main__card__name{
    padding-top: 0.5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: var(--text_color);
}
.main__card__photo img{
    display: flex;
    padding-top: 0.5rem;
    width: 11rem;
    height: 15rem;
    opacity: 0.9;

    
}
.main__card__secName , .main__card__birhday , .main__card__faculty{

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: var(--text_color);
}
.main__buttomInfo{
    margin-top: 1rem;
    border: none;
    background-color: var(--search_color);
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: whitesmoke;
    filter: blur(0.1rem);
    transition: 0.5s;
    
}
button{
    cursor: url("../../image/cursor.png"), auto;
}
.main__buttomInfo:hover{
    filter: none;
    transform: scale(1.15,1.25);
}

/* ! main -> cards End */
